body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:cornflowerblue;
}
h1 {
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
}
h3 {
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;

}

.container{
    width: 700px;
    margin: 0 auto;
    padding: 10px;

}
.quiz-card{
    border: 2px solid white;
    border-radius: 15px;

}

.quiz-header{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color:deepskyblue;
    padding: 20px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    
}

.start-content{
    background-color: #fff;
}

.welcome-section{
    text-align: center;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
    color: #555;
    font-size: 15px;
    line-height: 1.6;
}
.welcome-icon{
    font-size: 70px;
    color: #ff6347;

}
.difficulty-selection{
    display: inline;
}

.difficulty-title{
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.difficulty-options{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding-bottom: 10px;
    font-family: Arial, sans-serif;
    color: #555;
    justify-items: center;
    background-color: white;
    
}
.difficulty-icon{
    font-size: 30px;
    color: #4caf50;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    justify-items: center;
}

.difficulty-easy-card{
    background-color: #f9f9f9;
    border: 2px solid deepskyblue;
    border-radius: 10px;
    font-size: large;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.difficulty-easy-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.difficulty-medium-card{
    background-color: #f9f9f9;
    border: 2px solid deepskyblue;
    border-radius: 10px;
    font-size: large;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.difficulty-medium-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.difficulty-hard-card{
    background-color: #f9f9f9;
    border: 2px solid deepskyblue;
    border-radius: 10px;
    font-size: large;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.difficulty-hard-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.startbtn{
    background-color:darkcyan;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 20px auto;
}
.startbtn:hover{
    background-color: white;
    color: darkcyan;
    box-shadow: 0 4px 10px darkcyan;
    border: darkcyan 3px solid;
    transform: translateY(-2px);

}
.start-footer{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: deepskyblue;
    border-radius: 0 0 15px 15px;

}




/* Easy Mode Properties */

.container-easy-mode{
    width: 700px;
    margin: 0 auto;
    padding: 10px 10px 0 10px;  
}
.quiz-card-easy-mode{
    border: 2px solid white;
    border-radius: 15px;
    background-color: #f0f8ff;
}
.quiz-header-easy-mode{

    font-family: Arial, sans-serif;
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color:limegreen;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    
}

.quiz-mode-easy-mode{
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 15px;
    line-height: 1.6;

}

.header-right{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;

}


.quiz-mode{
    margin-right: auto;
}

.mode-icon{
    font-size: 25px;
    color: #4caf50;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.start-footer-easy-mode{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:limegreen;
    border-radius: 0 0 15px 15px ;
}

.startbtn-easy-mode{
    background-color:steelblue;
    color: white;
    border: none;
    padding: 6px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 20px auto;
}
.startbtn-easy-mode:hover{
    background-color: white;
    color: darkcyan;
    box-shadow: 0 4px 10px steelblue;
    border: darkcyan 3px solid;
    transform: translateY(-2px);

}

.progress-header{
    display: flex;
    justify-content: space-between;
    margin:15px;
}

.progress-fill{
    margin: auto;
    width: 100%;
    height: 15px;
    background-color: limegreen;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}


.question-number{
    display: inline-flex;
    justify-content: left;
    align-items: center;
    font-family: Arial, sans-serif;
    color:white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: auto;
    padding: 10px;
    background-color: limegreen;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.question-inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

#score-easy-mode{
    font-family: Arial, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
    background-color: limegreen;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.question-text{
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f8ff;
    border-radius: 10px;
}

.options-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.option{
    display: flex;
    align-items: center;
    background-color: #f0f8ff;
    border: 2px solid rgba(40, 167, 69, 0.1);
    border-radius: 10px ;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0 10px;
}

.option-letter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #4caf50;
    margin-right: 20px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(40, 167, 69, 0.1);
    border-radius: 50%;
}



/* Medium Mode section */

.quiz-card-medium-mode{
    border: 2px solid white;
    border-radius: 15px;
    background-color: #f0f8ff;
}
.quiz-header-medium-mode{

    font-family: Arial, sans-serif;
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color:#ffa500;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    
}

.mode-icon-medium-mode{
    font-size: 25px;
    color: #ffa500;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.start-footer-medium-mode{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:#ffa500;
    border-radius: 0 0 15px 15px ;
}


.progress-fill-medium-mode{
    margin: auto;
    width: 100%;
    height: 15px;
    background-color: #ffa500;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}


.medium-mode-question-number{
    display: inline-flex;
    justify-content: left;
    align-items: center;
    font-family: Arial, sans-serif;
    color:white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;

    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffa500;

    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.question-inner-medium-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

}

#score-medium-mode{
    font-family: Arial, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
    background-color: #ffa500;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.option-letter-medium-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ffa500;
    margin-right: 20px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(40, 167, 69, 0.1);
    border-radius: 50%;
}


/* Hard Mode section */

.quiz-card-hard-mode{
    border: 2px solid white;
    border-radius: 15px;
    background-color: #f0f8ff;
}
.quiz-header-hard-mode{

    font-family: Arial, sans-serif;
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color:crimson;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    
}

.mode-icon-hard-mode{
    font-size: 25px;
    color: crimson;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.start-footer-hard-mode{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:crimson;
    border-radius: 0 0 15px 15px ;
}


.progress-fill-hard-mode{
    margin: auto;
    width: 100%;
    height: 15px;
    background-color: crimson;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}


.question-number-hard-mode{
    display: inline-flex;
    justify-content: left;
    align-items: center;
    font-family: Arial, sans-serif;
    color:white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: crimson;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hard-mode-question-number{
    display: inline-flex;
    justify-content: left;
    align-items: center;
    font-family: Arial, sans-serif;
    color:white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;

    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: crimson;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.question-inner-hard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

}

#score-hard-mode{
    font-family: Arial, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
    background-color: crimson;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.option-letter-hard-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: crimson;
    margin-right: 20px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(40, 167, 69, 0.1);
    border-radius: 50%;
}





